.kkoment-text-area {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.kkoment-emoji {
    width: 35px;
    text-align: center;
    font-size: x-large;
}

.kkoment-info {
    width: 100%;
}

.kkoment-time {
    font-size: small;
    color: gray;
}

.kkoment-hashed {
    font-size: 7px;
    color: gray;
}

.kkoment-text {
    padding: 0px 0px 0px 40px;
}

.kkoment-hr {
    border: 0.5px dashed green;
}

.kkoment-preview {
    background-color: LightGoldenRodYellow;
}

.kkoment-emojis-area {
    width: 100%;
    height: 200px;
    overflow: auto;
    font-size: x-large;
    border: 1px solid gray;
}
